<ion-toolbar *ngIf="pageName=='Home'">
  <div text-center>
    <ion-button (click)="clickBtn()" size="small" color="light">Donate</ion-button>
  </div>
</ion-toolbar>

<ion-toolbar *ngIf="pageName=='Event'">
  <div text-center>
    <ion-button fill='clear' href="https://www.facebook.com/UDGAARFest" target="_blank" size="small">
      <app-hs-icon class="socialIcon" [color]="'var(--ion-color-light)'" [size]="'1em'" [type]="'default'"
        [name]="'fa fa-facebook-square'">
      </app-hs-icon>
    </ion-button>

    <ion-button fill='clear' href="https://www.youtube.com/iyfdelhi" size="small">
      <app-hs-icon href="https://www.youtube.com/iyfdelhi" class="socialIcon" [color]="'var(--ion-color-light)'"
        [size]="'1em'" [type]="'default'" [name]="'fa fa-youtube-square'">
      </app-hs-icon>
    </ion-button>
  </div>
</ion-toolbar>

<div *ngIf="pageName=='Contact'">
    <div text-center class="contactFooter">
      <ion-button fill='clear' href="https://www.facebook.com/UDGAARFest" target="_blank" size="small">
        <app-hs-icon class="socialIcon" [color]="'var(--ion-color-light)'" [size]="'1em'" [type]="'default'"
          [name]="'fa fa-facebook-square'">
        </app-hs-icon>
      </ion-button>
  
      <ion-button fill='clear' href="https://www.youtube.com/iyfdelhi" size="small">
        <app-hs-icon href="https://www.youtube.com/iyfdelhi" class="socialIcon" [color]="'var(--ion-color-light)'"
          [size]="'1em'" [type]="'default'" [name]="'fa fa-youtube-square'">
        </app-hs-icon>
      </ion-button>
    </div>
  </div>