ion-button{
    --box-shadow: none !important;
}

.backIcon {
    font-size: 1.4em;
}

.socialIcon {
    border: 2px solid var(--ion-color-light);
    margin: 0px 7px 0 5px;
    padding: 3px 5px;
    border-radius: 50%;
}

.contactFooter{
    text-align: center !important;
    background-color: var(--ion-color-themetextbg);
    border-radius: 0px;
}