<ion-content class="homeContent">
  <h3 class="head">{{paramData.company_name}} Report</h3>
  <ion-grid>
    <h3>ID: {{paramData.id}}<span *ngIf="paramData.attachment != 'null'" class="ion-float-right ion-padding-end" (click)="downloadAttachment(paramData.attachment)">
        <app-hs-icon [color]="'var(--ion-color-dark)'" [size]="'1.2em'" [type]="'default'" [name]="'fa fa-download'">
        </app-hs-icon>
      </span></h3>
    <ion-row class="ion-text-center" class="trh">
      <ion-col size="6" class="td">
        <b>Name</b>
      </ion-col>
      <ion-col size="6" class="td">
        <b>Details</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of leadDetails" class="tr">
      <ion-col size="6" class="th">
        {{item.title}}
      </ion-col>
      <ion-col size="6" class="th">
        {{item.title == 'Followup Date' && item.value != 'N/A'?(item.value | date): item.value}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>