ion-grid{
    background-color: white;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--ion-color-primary);
}

p{
    font-size: 11px
}

.backColor{
    background-color: #f2f2f2;
    border-bottom: 1px solid #c7c7c7;
}

.head{
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-style: normal;
    padding: 10px;
    color: var(--ion-color-primary);
    font-size: 1.2em;
    margin-top: 0;
}


.td, .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.trh{
    background: var(--ion-color-primary) !important;
    color: var(--ion-color-white) !important;
    font-size: 0.8em;
}

.tr{
    background: var(--ion-color-light) !important;
    font-size: 0.8em;
}