.map{
    height: 95%;
    width: 90%;
    position: relative;
    overflow: hidden;
    margin: 5%;
}

.gm-style img{
    width: 23px !important;
    height: 39px !important;
}

.gm-style .gm-style-iw{
    max-width: 100px !important;
    max-height: 100px !important;
}

.td, .th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.trh{
    background: var(--ion-color-primary) !important;
    color: var(--ion-color-white) !important;
    font-size: 1em;
}

.tr{
    background: var(--ion-color-light) !important;
    font-size: 0.8em;
}

ion-grid{
    background-color: white;
}

h3 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
    color: var(--ion-color-primary);
}

.head{
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-style: normal;
    padding: 10px;
    color: var(--ion-color-primary);
    margin-top: 0;
}

.formHead{
    text-align: center;
    color: var(--ion-color-primary);
    font-weight: bold;
    white-space: normal;
    font-style: normal;
}

.list{
    margin: 10px !important;
    background: var(--ion-color-white) !important;
}


.formButton{
    padding: 0;
    margin: 0;
    --color: #000;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 40px 0 10px;
    font-style: normal;
    text-transform: capitalize;
}


.btn{
    width: 100%;
    font-style: normal;
    border: 2px solid #b3edf7;
    border-radius: 5px;
    height: 30px;
    font-size: 1em;
}

ion-avatar {
    width: 40px;
    height: 40px;
}

.voiceText{
    border: 2px solid #ddd;
    background: var(--ion-color-white);
    padding: 3px 7px;
    border-radius: 10px;
    margin: 12px 0;
}