<ion-header *ngIf="contentFlag == 2">
  <ion-toolbar *ngIf="activeTable">
    <ion-title class="formHead">{{title}}</ion-title>
    <ion-buttons slot="end" (click)="cancelDetails()">
      <app-hs-icon [color]="'var(--ion-color-danger)'" [size]="'1.6em'" [type]="'default'"
        [name]="'fa fa-times-circle'">
      </app-hs-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="activeForm">
    <ion-title class="formHead">{{title}}</ion-title>
    <ion-buttons slot="end" (click)="cancelModal()">
      <app-hs-icon [color]="'var(--ion-color-danger)'" [size]="'1.6em'" [type]="'default'"
        [name]="'fa fa-times-circle'">
      </app-hs-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content *ngIf="contentFlag == 0" class="homeContent">
  <div #map id="map" class="map">
    <div *ngIf="mapLoading==null" class="divcenter">
      <img style="display: inline-flex; width: auto;" src="assets/images/spinner.gif">
    </div>
  </div>
</ion-content>

<ion-content *ngIf="contentFlag == 1" class="homeContent">
  <div *ngIf="itemLength == 0">
    <app-hs-error [page-name]="'No Lead'"></app-hs-error>
  </div>

  <div *ngIf="itemLength > 0">
    <ion-grid *ngFor="let item of taskList" style="background: transparent !important">
      <ion-row class="ion-text-start">
        <ion-col size="12" (click)="openClickedButton(item)">
          <ion-button class="ion-text-wrap" color="primary" expand="full">
            {{item.company_name}} Report</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll *ngIf="itemLength > 9" threshold="10%" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>

<ion-content *ngIf="contentFlag == 2" class="homeContent">
  <div *ngIf="activeTable">
    <ion-grid>
      <h3>ID: {{activedId}}<span *ngIf="selRepData.lead_file_name != null" class="ion-float-right ion-padding-end"
          (click)="downloadAttachment(selRepData.lead_file_name)">
          <app-hs-icon [color]="'var(--ion-color-dark)'" [size]="'1.2em'" [type]="'default'" [name]="'fa fa-download'">
          </app-hs-icon>
        </span></h3>
      <ion-row class="ion-text-center" class="trh">
        <ion-col size="6" class="td">
          <b>Name</b>
        </ion-col>
        <ion-col size="6" class="td">
          <b>Details</b>
        </ion-col>
      </ion-row>
      <ion-row *ngFor="let item of leadDetails" class="tr">
        <ion-col size="6" class="th">
          {{item.title}}
        </ion-col>
        <ion-col size="6" class="th">
          {{item.title == 'Followup Date' && item.value != 'N/A'?(item.value | date): item.value}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div *ngIf="activeForm">
    <form #wiceForm="ngForm" (ngSubmit)="submitForm(wiceForm, wiceDetail)">
      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && contact_person.invalid }">
        <ion-label position="stacked" color="primary" for="contact_person">Contact Person Name</ion-label>
        <ion-input required="true" id="contact_person" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$"
          maxlength="40" [(ngModel)]="wiceDetail.contact_person" name="contact_person" #contact_person="ngModel"
          type="text" class="form-control" placeholder="Enter Contact Person Name" autocomplete="off" readonly>
        </ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="contact_person.errors && contact_person.touched">Contact Person Name is
        Required.</span>

      <ion-item>
        <ion-label color="primary" for="changeName">Change Person Name</ion-label>
        <ion-toggle id="changeName" [(ngModel)]="wiceDetail.changeName" name="changeName" #changeName="ngModel"
          type="boolean" class="form-control" (ionChange)="changeNameToggle(wiceDetail.changeName)"></ion-toggle>
      </ion-item>

      <div *ngIf="nameFlag == 1">
        <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && newContactName.invalid }">
          <ion-label position="stacked" color="primary" for="newContactName">Enter Person Name</ion-label>
          <ion-input id="newContactName" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$" maxlength="40"
            [(ngModel)]="wiceDetail.newContactName" name="newContactName" #newContactName="ngModel" type="text"
            class="form-control" placeholder="Enter Person Name" autocomplete="off">
          </ion-input>
        </ion-item>
        <span class="formSpanerror" *ngIf="newContactName.errors && newContactName.touched">Contact Person Name is
          Required.</span>
      </div>

      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && contact_person_no.invalid }">
        <ion-label position="stacked" color="primary" for="contact_person_no">Contact Person No.</ion-label>
        <ion-input required="true" id="contact_person_no" minlength="3" pattern="^[0-9*#+\s]+$" maxlength="15"
          [(ngModel)]="wiceDetail.contact_person_no" name="contact_person_no" #contact_person_no="ngModel" type="text"
          class="form-control" placeholder="Enter Contact Person No." autocomplete="off" readonly></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="contact_person_no.errors && contact_person_no.touched">Contact Person No. is
        required.</span>

      <ion-item>
        <ion-label color="primary" for="changeNo">Change Person No.</ion-label>
        <ion-toggle id="changeNo" [(ngModel)]="wiceDetail.changeNo" name="changeNo" #changeNo="ngModel" type="boolean"
          class="form-control" (ionChange)="changeNoToggle(wiceDetail.changeNo)"></ion-toggle>
      </ion-item>
      <div *ngIf="noFlag == 1">
        <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && newContactNo.invalid }">
          <ion-label position="stacked" color="primary" for="newContactNo">Enter Person No.</ion-label>
          <ion-input id="newContactNo" minlength="3" pattern="^[0-9*#+\s]+$" maxlength="15"
            [(ngModel)]="wiceDetail.newContactNo" name="newContactNo" #newContactNo="ngModel" type="text"
            class="form-control" placeholder="Enter Person No." autocomplete="off"></ion-input>
        </ion-item>
        <span class="formSpanerror" *ngIf="newContactNo.errors && newContactNo.touched">Company Name is Required.</span>
      </div>

      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && company_name.invalid }">
        <ion-label position="stacked" color="primary" for="company_name">Company Name</ion-label>
        <ion-input required="true" id="company_name" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$"
          maxlength="40" [(ngModel)]="wiceDetail.company_name" name="company_name" #company_name="ngModel" type="text"
          class="form-control" placeholder="Enter Company Name" autocomplete="off" readonly></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="company_name.errors && company_name.touched">Company Name is Required.</span>

      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && comp_phone.invalid }">
        <ion-label position="stacked" color="primary" for="comp_phone">Company Contact</ion-label>
        <ion-input required="true" id="comp_phone" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$"
          maxlength="15" [(ngModel)]="wiceDetail.comp_phone" name="comp_phone" #comp_phone="ngModel" type="text"
          class="form-control" placeholder="Enter Company Contact" autocomplete="off" readonly></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="comp_phone.errors && comp_phone.touched">Company Contact is
        required.</span>

      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && comp_city.invalid }">
        <ion-label position="stacked" color="primary" for="comp_city">City</ion-label>
        <ion-input required="true" id="comp_city" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$"
          maxlength="40" [(ngModel)]="wiceDetail.comp_city" name="comp_city" #comp_city="ngModel" type="text"
          class="form-control" placeholder="Enter comp_city" autocomplete="off" readonly></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="comp_city.errors && comp_city.touched">City is Required.</span>

      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && comp_state.invalid }">
        <ion-label position="stacked" color="primary" for="comp_state">State</ion-label>
        <ion-input required="true" id="comp_state" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$"
          maxlength="40" [(ngModel)]="wiceDetail.comp_state" name="comp_state" #comp_state="ngModel" type="text"
          class="form-control" placeholder="Enter State" autocomplete="off" readonly></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="comp_state.errors && comp_state.touched">State is Required.</span>

      <ion-item>
        <ion-label color="primary" for="revelant">Relevant</ion-label>
        <ion-toggle id="revelant" [(ngModel)]="wiceDetail.revelant" name="revelant" #revelant="ngModel" type="boolean"
          class="form-control" (ionChange)="revelantToggle(wiceDetail.revelant)"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="flag == 1">
        <ion-label position="stacked" color="primary" for="discussion">
          Discussion About Meeting
          Name</ion-label>
        <ion-textarea rows="3" id="discussion" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$" maxlength="40"
          [(ngModel)]="wiceDetail.discussion" name="discussion" #discussion="ngModel" type="text" class="form-control"
          placeholder="Enter Discussion" autocomplete="off"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="flag == 0">
        <ion-label position="stacked" color="primary" for="comment">Comment</ion-label>
        <ion-textarea rows="3" required="true" id="comment" minlength="3" pattern="[ A-Za-z0-9_,:;@(\r|\n)./()#&+-]*$"
          maxlength="40" [(ngModel)]="wiceDetail.comment" name="comment" #comment="ngModel" type="text"
          class="form-control" placeholder="Enter Comment" autocomplete="off"></ion-textarea>
      </ion-item>

      <ion-item *ngIf="flag == 1">
        <ion-label position="stacked" color="primary" for="nextFollowupDate">Followup Date</ion-label>
        <ion-datetime displayFormat="DDDD YYYY-MM-DD" placeholder="DD-MMM-YYYY" min="2019" max="2020-12-31"
          [(ngModel)]="wiceDetail.nextFollowupDate" id="nextFollowupDate" name="nextFollowupDate"
          #nextFollowupDate="ngModel" type="date" class="form-control">
        </ion-datetime>
      </ion-item>

      <ion-item *ngIf="flag == 1">
        <ion-label position="stacked" color="primary" for="nextFollowupTime">Followup Time</ion-label>
        <ion-datetime displayFormat="hh:mm A" placeholder="hh:mm A" [(ngModel)]="wiceDetail.nextFollowupTime"
          id="nextFollowupTime" name="nextFollowupTime" #nextFollowupTime="ngModel" type="date" class="form-control">
        </ion-datetime>
      </ion-item>

      <ion-item [ngClass]="{ 'is-invalid': wiceForm.submitted && recording.invalid }">
        <ion-label position="stacked" color="primary" for="recording">
          Voice Recording</ion-label>
        <p class="voiceText" (click)="showRecordedText()">View Message</p>
      </ion-item>

      <div [ngStyle]="{'background':'white', 'text-align':'center'}">
        <ion-avatar (click)="getVoiceText()" [ngStyle]="{'margin':'auto'}">
          <img src="assets/images/voice.png">
        </ion-avatar>
        <span>Click above icon for voice recording</span>
      </div>

      <ion-grid style="background-color: white !important; padding-top: 0 !important; text-align: center;">
        <ion-row>
          <ion-col size="6">
            <ion-button class="formButton" color="danger" expand="block" class="btn" (click)="cancelModal()">Cancel
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="formButton" color="primary" expand="block" type="submit" class="btn">Update</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>