// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  // --ion-color-primary: #3880ff;
  // --ion-color-primary-rgb: 56, 128, 255;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #3171e0;
  // --ion-color-primary-tint: #4c8dff;

  --ion-color-primary: #0a2452;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0d2b60;
  --ion-color-primary-tint: #081e44;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #ff3823;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** white **/
  --ion-color-white: #ffffff;
  --ion-color-white-rgb: 244, 244, 244;
  --ion-color-white-contrast: #000000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #ffffff;
  --ion-color-white-tint: #ffffff;

  --ion-color-loginBtn: #ff6624;
}

ion-button {
  font-size: 1em;
  --box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
}

ion-spinner {
  color: var(--ion-color-dark);
}

ion-img {
  color: var(--ion-color-dark) !important;
}

.splashCover {
  background-image: no-repeat center center;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  height: 100%;
}

.submitBtn{
  background-color: var(--ion-color-primary);
  color: var(--ion-color-white);
  width: 100%;
  font-weight: 600;
  border: 2px solid #b3edf7;
  padding: 7px 50px;
  border-radius: 5px;
}

.mapContent{
  --background: var(--ion-color-light) !important;
}

.homeContent{
  position: relative;
  --background: url(../assets/images/cargo.jpg)  0 0/100% 100% no-repeat;
}  

.homeForm{
  margin-left: 30px;
  margin-right: 30px;
  width: 80%;
}

.features{
  position: absolute !important;
  bottom: 25%;
  width: 100%;
}

.restPages{
  position: absolute !important;
  top: 25%;
  width: 100%;
}


.infinite-scroll-content-md .infinite-loading-text, .infinite-scroll-content-ios .infinite-loading-text{
  color: var(--ion-color-dark);
}

.action-sheet-icon.sc-ion-action-sheet-md, .action-sheet-icon.sc-ion-action-sheet-ios {
  -webkit-margin-end: 32px;
  margin-inline-end: 10px;
}

.action-sheet-title.sc-ion-action-sheet-md, .action-sheet-title.sc-ion-action-sheet-ios {
  padding-top: 15px;
  padding-bottom: 15px;
  height: auto;
}

.action-sheet-title.sc-ion-action-sheet-ios {
  font-size: 1.1em;  
}

.action-sheet-button.sc-ion-action-sheet-md, .action-sheet-button.sc-ion-action-sheet-md {
  height: 40px;
}

.alert-tappable.sc-ion-alert-ios {
  border-bottom: 1px solid #e0dddd !important;
}

.successCss.action-sheet-button.sc-ion-action-sheet-md, 
.successCss.action-sheet-button.sc-ion-action-sheet-ios,
.successCss.action-sheet-icon.sc-ion-action-sheet-md, 
.successCss.action-sheet-icon.sc-ion-action-sheet-ios
{
  color: var(--ion-color-primary) !important;
}

.dangerCss.action-sheet-button.sc-ion-action-sheet-md, 
.dangerCss.action-sheet-button.sc-ion-action-sheet-ios,
.dangerCss.action-sheet-icon.sc-ion-action-sheet-md, 
.dangerCss.action-sheet-icon.sc-ion-action-sheet-ios
{
  color: var(--ion-color-danger) !important;
}

.sc-ion-back-button-md-h, .sc-ion-back-button-ios-h {
  --margin-end: 0px; 
  --icon-margin-end: 0px; 
  --icon-padding-end: 0em;
}

.divcenter{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.callBtn{
  position: absolute;
  top: 0em; 
  right: 3em;
}

.formSpanerror{
  color: var(--ion-color-danger);
  font-size: 12px;
}

.is-invalid {
  --border-color: var(--ion-color-danger) !important;
}

.button-outline {
    --border-color: transparent !important;
    --background: transparent !important;
    --color: var(--ion-color-light) !important;
    --color-focused: var(--ion-color-ligh) !important;
    --box-shadow: none !important;
}

.vl {
  border-left: 2px solid var(--ion-color-light);
  height: 60px;
}

.hr{
  border-bottom: 2px solid var(--ion-color-paynow);
}

.title-section{
  position: relative;
}

.title-section .pageTitle:after {
  width: 50px;
  height: 2px;
  position: absolute;
  content: "";
  bottom: -5px;
  left: 50%;
  margin-left: -25px;
  background-color: var(--ion-color-light);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.sc-ion-label-ios-s p, .sc-ion-label-md-s p{
  line-height: 20px;
}

.splashCover {
  background-image: no-repeat center center;
  background-size: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  height: 100%;
}

.successCss.action-sheet-button.sc-ion-action-sheet-md, 
.successCss.action-sheet-button.sc-ion-action-sheet-ios,
.successCss.action-sheet-icon.sc-ion-action-sheet-md, 
.successCss.action-sheet-icon.sc-ion-action-sheet-ios
{
  color: var(--ion-color-primary) !important;
}

.dangerCss.action-sheet-button.sc-ion-action-sheet-md, 
.dangerCss.action-sheet-button.sc-ion-action-sheet-ios,
.dangerCss.action-sheet-icon.sc-ion-action-sheet-md, 
.dangerCss.action-sheet-icon.sc-ion-action-sheet-ios
{
  color: var(--ion-color-danger) !important;
}

.textCss.action-sheet-button.sc-ion-action-sheet-md, 
.textCss.action-sheet-button.sc-ion-action-sheet-ios,
.textCss.action-sheet-icon.sc-ion-action-sheet-md, 
.textCss.action-sheet-icon.sc-ion-action-sheet-ios
{
  color: var(--ion-color-dark) !important;
  font-size: 0.8em;
  height: 32px;
}

.successToastcss {
  color: var(--ion-color-success);
  --background: var(--ion-color-light);
  font-size: 1em;
  font-weight: 500;
}

.errorToastcss {
  color: var(--ion-color-danger);
  --background: var(--ion-color-light);
  font-size: 1em;
  font-weight: 500;
}

.submitButton{
  --background: var(--ion-color-primary);
  border: 5px solid var(--ion-color-light);
}

.cancelButton{
  --background: var(--ion-color-danger);
  border: 5px solid var(--ion-color-light);
}

.marginAuto{
  margin: auto;
}

.alert-button-group.sc-ion-alert-md{
  position: relative;
  display: inline-block;
}
.alert-button.sc-ion-alert-md{
    display: inline-block;
    width: 46%;
}

.alert-button-inner.sc-ion-alert-md {
    -webkit-box-pack: center;
    justify-content: center;
}
.alert-title.sc-ion-alert-md{
  color: var(--ion-color-dark);
  text-transform: capitalize;
  text-align: center;
}

.alert-button.sc-ion-alert-md.alertCancel, .alert-button.sc-ion-alert-ios.alertCancel{
  background-color: var(--ion-color-danger);
  color: var(--ion-color-light);
  padding: 3px;
  button{
      color: var(--ion-color-light);
  }
}

.alert-head.sc-ion-alert-md{
  padding: 8px;
}

.alert-title.sc-ion-alert-md{
  font-size: 1.1em;
  color: var(--ion-color-primary);
}

.sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
  border-color: var(--app-ion-primary);
}

.alert-radio-label.sc-ion-alert-md{
  padding: 0px 5px 0px 20px;
}

.alert-radio-icon.sc-ion-alert-md {
  left: 10px !important;
}

.alert-tappable.sc-ion-alert-md {
  height: 40px;
}

.alert-button.sc-ion-alert-md.alertConfirm, .alert-button.sc-ion-alert-ios.alertConfirm{
  background-color: var(--ion-color-primary);
  color: var(--ion-color-light);
  padding: 3px;
  button{
      color: var(--ion-color-light);
  }
}
