<!-- <ion-buttons slot="end" (click)="iconHandler()" float-right>
  <ion-button color="light">
    <app-hs-icon style="margin-top:10px !important;"  [color]="'var(--ion-color-light)'" [size]="'2em'" [type]="'default'" [name]="'fa fa-times-circle'"></app-hs-icon>
  </ion-button>
</ion-buttons>
<ion-title [ngStyle]="{'padding':'10px 12px', 'width':'80%'}">{{paramTitle}}</ion-title> -->

<app-hs-icon [color]="'var(--ion-color-light)'" (click)="iconHandler()" [size]="'1.6em'" [type]="'default'"
  [name]="'fa fa-home'">
</app-hs-icon>