ion-button{
    --color: #000;
    font-size: 12px;
    font-weight: bold;
    margin: 3px 35px;
}
.empBtn{
    margin:0px; 
    font-style:normal;
    font-size: 0.8em;
    text-transform: capitalize; 
    white-space: normal
}

.mapIcon{
    position: absolute;
    padding: 15px;
}

ion-fab{
    bottom: 10px !important;
}