<ion-content class="homeContent">
  <div style="margin:10px; text-align: center;">
    <img src="assets/images/icon.png" [ngStyle]="{'width': '40%','height': 'auto'}">
    <ion-button color="medium" expand="full" class="empBtn">{{paramData.user_name | titlecase }} - Employee Code
      {{paramData.id}}</ion-button>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="12" (click)="openClickedButton('LeadsOverseas')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Lead (Overseas)</ion-button>
      </ion-col>
      <ion-col size="12" (click)="openClickedButton('LeadsDomestic')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Sales Lead (Domestic/Self)</ion-button>
      </ion-col>
      <ion-col size="12" (click)="openClickedButton('Combined')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Combined (All)</ion-button>
      </ion-col>
      <ion-col size="12" (click)="openClickedButton('LivePopups')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Live Popups</ion-button>
      </ion-col>
      <ion-col size="12" (click)="openClickedButton('Report')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Report</ion-button>
      </ion-col>
      <ion-col size="12" (click)="openClickedButton('FollowUp')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Future Tasks/Follow Up</ion-button>
      </ion-col>
      <ion-col *ngIf="paramData.user_type == 2" size="12" (click)="openClickedButton('Assignlead')">
        <ion-button class="ion-text-wrap" color="primary" expand="full">Assign Lead</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" edge slot="fixed">
    <ion-fab-button (click)="logoutAlert()" class="ion-text-wrap" color="primary">Logout</ion-fab-button>
</ion-fab>