<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" backdropDismiss="false" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<div id="defaultLoading" *ngIf="splashImage" class="splashCover">
  <img src="assets/images/bg.png" height="100%" width="100%">
</div>

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
