<ion-content class="homeContent">
  <div *ngIf="itemLength == 0">
    <app-hs-error [page-name]="'No Lead'"></app-hs-error>
  </div>

  <div *ngIf="itemLength > 0">
    <ion-grid *ngFor="let item of taskList">
      <ion-row class="ion-text-start">
        <ion-col size="12" (click)="openClickedButton(item)">
          <ion-button class="ion-text-wrap" color="primary" expand="full">{{item.company_name}} Report</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-infinite-scroll *ngIf="itemLength > 9" threshold="10%" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>