<ion-content class="homeContent">
  <h3 class="head">Lead List</h3>
  <div *ngIf="itemLength == 0">
    <app-hs-error [page-name]="'No Lead'"></app-hs-error>
  </div>

  <div *ngIf="itemLength > 0">
    <ion-list lines="none" *ngFor="let lead of leadList; let i = index;">
      <ion-item>
        <ion-label>
          <ion-text color="primary ion-text-wrap">
            <h4>Lead ID : {{lead.id}}</h4>
            <h4>Lead Name : {{lead.company_name}}</h4>
          </ion-text>
          <button *ngIf="lead.sellerId == null" color="primary" size="small" class="submitBtn" type="submit"
            (click)="assignedLead(lead)">Assign
            Lead</button>
          <button *ngIf="lead.sellerId != null" color="primary" size="small" class="submitBtn" type="submit"
            (click)="assignedLead(lead)">Assigned to {{lead.sellerName}}</button>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll *ngIf="itemLength > 9" threshold="10%" (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>