

ion-grid{
    background-color: white;
}

ion-label{
    margin: 0;
    margin-bottom: 3px;
}

ion-list{
    margin-bottom: 3px;
}

.head{
    text-align: center;
    background-color: white;
    font-weight: bold;
    font-style: normal;
    color: var(--ion-color-primary);
    padding: 10px;
    margin-top: 0;
}

.action-sheet-button.sc-ion-action-sheet-md{
    height: 35px !important;
    border-bottom: 1px solid #ddd !important;
}