
ion-item{
  margin-bottom: 10px;
  padding: 0px;
  color: #000000;
}

.footerDiv{
  position: absolute;
  text-align: center;
  width: 100%;
  top: 10px;
}

.footerDiv h2 {
  font-size: 26px;
}

.errorItem{
  --min-height: 20px !important;
}