<div id="defaultLoading" *ngIf="splashImage && flag == 0" class="splashCover">
  <img src="assets/images/bg.png" height="100%" width="100%">
</div>

<ion-content *ngIf="!splashImage  && flag == 1" class="homeContent">

  <div class="footerDiv" *ngIf="!splashImage  && flag == 1">
    <h2 style="font-style: normal;color:#0a2452; font-weight: bold;">Smart Buddy</h2>
  </div>
  
  <div style="text-align: center;">
    <img src="assets/images/icon.png" [ngStyle]="{'width': '60%','height': 'auto','margin-top': '25px'}">
  </div>
  <div class="homeForm" scrollX="true">
    <form #login="ngForm" (ngSubmit)="submitLogin(login, loginDetail)">
      <ion-item [ngClass]="{ 'is-invalid': login.submitted && mobile.invalid }">
        <ion-label position="stacked" color="primary" for="mobile">Mobile No.
          <app-hs-icon [color]="'var(--ion-color-danger)'" [size]="'0.8em'" [type]="'default'" [name]="'fa fa-star'">
          </app-hs-icon>
        </ion-label>
        <ion-input id="mobile" required="true" minlength="10" maxlength="10" [(ngModel)]="loginDetail.mobile"
          name="mobile" #mobile="ngModel" type="text" class="form-control" pattern="[0-9]{10}"
          placeholder="Enter Mobile Number"></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="mobile.errors && mobile.touched">Mobile Number is Required.</span>

      <ion-item [ngClass]="{ 'is-invalid': login.submitted && password.invalid }">
        <ion-label position="stacked" color="primary" for="password">Password
          <app-hs-icon [color]="'var(--ion-color-danger)'" [size]="'0.8em'" [type]="'default'" [name]="'fa fa-star'">
          </app-hs-icon>
        </ion-label>
        <ion-input id="password" required="true" minlength="5" maxlength="20" [(ngModel)]="loginDetail.password"
          name="password" #password="ngModel" type="password" class="form-control" pattern="^[ A-Za-z0-9_,:;@./#&+-]*$"
          placeholder="Enter Password"></ion-input>
      </ion-item>
      <span class="formSpanerror" *ngIf="password.errors && password.touched">Password is Required.</span>

      <button class="submitBtn" type="submit">Login</button>
    </form>
  </div>
</ion-content>