<div class="menuBg">
  <ion-item *ngFor="let p of paramDetail" (click)="getOptionClicked(p)">
    <ion-label text-wrap padding-start>
      <app-hs-icon [color]="'var(--ion-color-light)'" [size]="'1.2em'" [type]="'default'" [name]="p.icon"></app-hs-icon>
      <span padding-start> {{p.page}}</span>
    </ion-label>
  </ion-item>
</div>