<div text-center class="divcenter">
  <app-hs-icon [color]="'var(--ion-color-danger)'" [size]="'3em'" [type]="'default'" [name]="'fa fa-exclamation-triangle'">
  </app-hs-icon>
  <ion-label>
    <ion-text color="danger">
      <h1>Sorry !!<br/>{{pageName}}</h1>
    </ion-text>
  </ion-label>
</div>